:root {
    --dark-navy: #ced4da;
    --navy: #dee2e6;
    --light-navy: #e9ecef;
    --lightest-navy: #f8f9fa;
    --gray-shadow: rgba(2, 12, 27, 0.7);
    --slate: #212529;
    --light-slate: #495057;
    --lightest-slate: #6c757d;
    --white: #e6f1ff;
    --accent-bright: #7371FC;
    --accent-tint: rgba(100, 255, 218, 0.1);
    --sm-font-size: 18px;
    --md-font-size: 22px;
    --lg-font-size: 30px;
    --xl-font-size: 46px;
  }
