#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 20%;
    min-height: 60vh;
  }
  
  .Typist {
    color: var(--lightest-slate);
    text-align: center;
    font-size: var(--xl-font-size);
    margin-top: -30px;
  }
  .Typist .Cursor--blinking {
    color: var(--accent-bright);
    padding-left: 4px;
  }
  
  .intro-title {
    font-family: Georgia, serif;
    font-size: var(--xl-font-size);
  }
  .intro-name {
    font-family: Georgia, serif;
    color: var(--accent-bright);
    font-weight: bold;
    font-size: var(--xl-font-size);
  }
  
  .intro-subtitle {
    margin-top: 36px;
    font-family: Georgia, serif;
    color: var(--slate);
    font-weight: 300;
    font-size: var(--large-font-size);
  }
  
  .intro-desc {
    color: var(--slate);
    font-family: Georgia, serif;
    font-size: 22px;
    max-width: 40%;
    text-align: justify;
    padding-bottom: 5%;
  }
  
  .intro-contact {
    font-size: 22px;
    font-weight: bolder;
    font-family: Georgia, serif;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid var(--accent-bright);
    border-radius: 4px;
  }
  
  .intro-contact:hover {
    background-color: var(--lightest-navy);
  }
  
  b {
    font-size: var(--sm-font-size);
  }
  
  @media only screen and (max-width: 600px) {
    #cindy-model {
      display: none;
    }
  
    #intro {
      min-height: unset;
      padding-left: unset;
      margin: 0;
      align-items: center;
    }
  
    .intro-title {
      font-size: 46px;
    }
    .intro-name {
      font-size: 46px;
    }
  
    .Typist {
      font-size: var(--xl-font-size);
    }
  
    .intro-subtitle {
      margin: 0;
      font-size: var(--medium-font-size);
      text-align: center;
    }
  
    .intro-desc {
      font-size: var(--sm-font-size);
      text-align: center;
      max-width: unset;
      padding-bottom: 40px;
    }
  
    .intro-contact {
      font-size: var(--sm-font-size);
      align-self: center;
      margin-left: 30%;
    }
  }


/* Silly arrow  */
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid var(--accent-bright);
  border-bottom: 3px solid var(--accent-bright);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2s infinite;
  animation: sdb05 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* arrow i am using */

.down-arrow {
  position: absolute;
  top: calc(100vh - 180px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 2s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}