@font-face {
    font-family: "NTR";
    font-weight: 200;
    font-display: fallback;
    src: url("./../../public/fonts/NTR-Regular.ttf") format("truetype");
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
    font-family: Georgia, serif;
    color: var(--accent-bright);
    font-weight: bold;
    font-size: var(--lg-font-size);
  }
  
  /* Style the links */
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--sm-font-size);
    color: var(--slate);
  }
  
  a:hover {
    color: #007bff; /* Change the color on hover */
  }
  