/* SideMenu.css */

.menu {
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Adjust this value as needed */
    opacity: 0; /* Initially set opacity to 0 for fade-in effect */
    animation: fade-in 1s ease-in-out forwards; /* Apply the fade-in animation */
  }
  
  .icon {
    color: var(--accent-bright);; /* Define neonaccent color in your global CSS or here */
    font-size: var(--md-font-size);
    margin: 10px;
    cursor: pointer;
    margin-left: 10%;
    
  }
  
  .line {
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: var(--accent-bright); /* Color of the vertical line */
    position: absolute;
    left: 15px;
    transform: translateX(-50%);


  }
  
  /* Keyframes for fade-in animation */
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  